
<p-fieldset legend="Parameters">
  <table>
    <tr>
      <td *ngFor="let parameter of parameters">
        <button pButton pRipple type="button"
                [label]="parameter.name"
                (click)="parameter.value = !parameter.value"
                [ngClass]="{'p-button-success':parameter.value, 'p-button-danger':!parameter.value}"></button>
      </td>
      <td>
        <p-button label="Check" styleClass="p-button-info"
                  (click)="onValidationChanged()"></p-button>
      </td>
    </tr>
  </table>
</p-fieldset>
