<p class="text-6xl w-12 text-center">Logic expression validator</p>

<div class="card">
  <div class="grid">
    <div class="col-6">
      <app-input (expressionChanged)="onExpressionChanged($event)"></app-input>
    </div>
    <div class="col-6">
      <app-presentation [expression]="parsedExpression"></app-presentation>
    </div>
    <div class="col-6">
      <app-parameters [parameters]="parameters" (validationChanged)="onValidationChanged()"></app-parameters>
    </div>
    <div class="col-6">
      <!-- TODO: use copy of parameters -->
      <app-validation-result [expression]="parsedExpression" [parameters]="parameters" [validation]="validation"></app-validation-result>
    </div>
  </div>
</div>


<!--
<p *ngFor="let parameter of parameters">
  {{parameter.name}} is {{parameter.value}}
</p>
<p>
  {{validation}}
</p>
-->
<router-outlet></router-outlet>
